<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${book.author.firstName}+' '+${book.author.lastName}" />
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
    <h2 class="text-center" th:text= "${book.title}" />
    <div class="row">
        <div class="col-md-4 mr-4 mb-5 mx-auto mt-5">
            <img th:src="${book.bookCover}" />
        </div>
            <div class="col-md-8 mt-5">
                <h5 th:text="${book.author.firstName}+' '+${book.author.lastName}" />
                <p th:text= "${book.synopsis}"></p>
                <a th:href="@{|/details-livre/reserver-livre/${book.id}|}" class="font-weight-bold">Réserver</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>