<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${book.author.firstName}+' '+${book.author.lastName}" />
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <h1 class="text-center mb-5" th:text= "${book.title}" />
        <div class="row">
            <div class="card col-md-4 mr-4 mb-5 mt-5">
                <img class="py-4 img-fluid" th:src="${book.bookCover}" />
            </div>
            <div class="col-md-7 mt-5 ml-4">
                <h3 th:text="${book.author.firstName}+' '+${book.author.lastName}" />
                <p th:text= "${book.synopsis}"></p>
                <td th:if="${book.availableBooksNbr > 1}">
                    <p class="font-weight-bold mr-4" th:text="${book.availableBooksNbr}+' exemplaires disponibles'"/>
                </td>
                <td th:if="${book.availableBooksNbr == 1}">
                    <p class="font-weight-bold" th:text="${book.availableBooksNbr}+' exemplaire disponible'"/>
                </td>
                <td th:if="${book.availableBooksNbr < 1}">
                    <p class="font-weight-bold" th:text="'Aucun exemplaire disponible'"/>
                    <p class="font-weight-bold" th:text="'Date de retour prévue: '+${book.closestReturnDate}"/>
                    <p class="font-weight-bold" th:text="'Personnes sur liste d\'attente: '+${book.usersWaiting}"/>
                <td th:if="${session.getAttribute('loggedInUserId')!=null && isOnUserWaitingList==false}" >
                    <form th:action="@{/Reservations/add-userToWaitingList}" method="post" th:object="${book}">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3  mx-auto">
                                <input type="submit"
                                       class="form-control btn btn-lg btn-info"
                                       value="Se mettre sur liste d'attente">
                            </div>
                        </div>
                    </form>
                </td>
                </td>

            </div>
        </div>
    </div>
</div>
</body>
</html>