<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Nos Livres</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <div class="card-group offset-md-1">
            <div th:each="book : ${books}" class="card bg-light border-light col-6 col-md-3 ml-3 mr-3 mt-3">
                <a th:href="@{/Livres/__${book.id}__}" >
                    <div class="card-header bg-darkened" th:text= "${#strings.abbreviate(book.title, 55)}" />
                    <div class="card-body">
                        <div class="thumbnail text-center mt-2 mb-2">
                            <img th:src="${book.bookCover}"  class="card-img-top img-thumbnail" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>