<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Nos Genres</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <td th:each="cat : ${categories}" >
            <div class="row offset-md-1 mt-5 mb-5">
                <div class="card col-md-11 mb-5">
                    <div class="card-header bg-secondary text-capitalize">
                        <p  th:text= "${cat.getName()}" class="text-white d-inline-block col-12 col-md-10"/>
                        <a th:href="@{/Genres/__${cat.id}__}" th:text="'Plus de livres...'" />
                    </div>
                    <div class="card-group">
                        <div th:each="book, iter : ${cat.books}" th:if="${iter.index}<4" class="card bg-secondary border-light  col-md-3 mt-5 mb-5 mr-3 ml-3">
                            <a th:href="@{/Livres/__${book.id}__}" >
                                <div class="card-header" th:text= "${#strings.abbreviate(book.title, 60)}" />
                                <div class="card-body">
                                    <div class="thumbnail text-center mt-2 mb-2">
                                        <img th:src="${book.bookCover}"  class="card-img-top img-thumbnail" />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </div>
</div>
</body>
</html>