<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Nos Genres</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
    <h1>Liste genres</h1>
    <div class="row">
        <div th:each="cat : ${categories}" class="card col-md-4 mt-5">
           <a th:href="@{/Genres/__${cat.id}__}" >
               <h5 class="card-header" th:text= "${cat.getName()}"></h5>
               <div class="card-body">
               </div>
            </a>
        </div>
    </div>
</div>
</div>
</body>
</html>