<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${cat.name}" />
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <h1 class="text-center text-capitalize" th:text= "${cat.name}" />
        <div class="card-group mt-5 offset-md-1">
            <div th:each="book : ${cat.books}" class="card bg-light border-light col-6 col-md-3 ml-3 mr-3 mt-3">
                <a th:href="@{/Livres/__${book.id}__}" >
                    <h4 class="card-header bg-darkened" th:text= "${#strings.abbreviate(book.title, 55)}"></h4>
                    <div class="card-body">
                    <div class="thumbnail text-center">
                        <img th:src="${book.bookCover}"  class="card-img-top img-thumbnail" />
                    </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>