<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="${cat.name}" />
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
    <h2 class="text-center" th:text= "${cat.name}" />
    <div class="row">
        <!--<div th:each="book : ${cat.books}" class="card col-md-4 mt-5">
            <a th:href="@{/Livres/__${book.id}__}" >
                <h5 class="card-header" th:text= "${book.title}"></h5>
                <div class="thumbnail">
                    <img th:src="${book.bookCover}"  class="card-img-top img-thumbnail" />
                </div>
            </a>
        </div>-->
    </div>
</div>
</div>
</body>
</html>