<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bibliotheque</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
<nav th:insert="fragments/fragments.html :: navbar-public" />
<div class="container">
  <div class="row">
        <div class="col-md-4 my-1">
           <a th:href="@{/Livres}" >Nos livres</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>