<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Accueil</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <div class="row">
            <div class="mx-auto text-center">
                <img th:src="@{/img/book-center.png}" alt="image de livre">
                <h2 class="mx-auto mt-2">Enlivrez-vous !</h2>
                <a th:href="@{/APropos}" >A propos de nous</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>