<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Mon profil</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <h1 class="text-center mb-5 text-capitalize" th:text= "${user.firstName}+' '+${user.lastName}" />
        <div class="row mt-5">
            <h2 th:text="'Mes emprunts'" class="mt-5 mb-5 mx-auto"/>
        </div>
        <div class="row mt-5 offset-md-1">
            <div th:each="borrowing : ${borrowings}" id="profileCards" class="card bg-light border-secondary col-md-3 mb-5 mr-5 ml-5 ">
                <a th:href="@{/Livres/__${borrowing.book.id}__}" >
                <div class="card-header">
                    <h4 th:text= "${#strings.abbreviate(borrowing.book.title, 60)}" />
                </div>
                <div class="thumbnail text-center mt-2 mb-2">
                    <img th:src="${borrowing.book.bookCover}"  class="card-img-top img-thumbnail" />
                </div>
                </a>
                <div class="card-footer" >
                    <p th:text="'Emprunté le: '+${borrowing.borrowed}" />
                    <p th:text="'Emprunt '+${borrowing.borrowingType.type}" />
                    <span th:if="${borrowing.borrowingType.id eq 2}">
                        <p  th:text="'Rendu le: '+${borrowing.returned}" />
                    </span>
                    <span th:unless="${borrowing.borrowingType.id eq 2}">
                        <strong><p th:text="'Date limite de retour: '+${borrowing.limitDate}" /></strong>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>